<a href="/people">Back to people</a>
<h1>People#add</h1>

<form method="post" action="/people/add">
  name: <input type="text" name="name">
  age: <input type="text" name="age">
  mail: <input type="text" name="mail">
  <input type="submit">
</form>